body {
    background-color: #E6E6FA;
}


#hSpecks {
    position: absolute;
    left: 250px;
    top: 10px;
    margin: 0px;
    font: 80px monospace;
    color: #C71585;
    text-shadow: 1px 1px 2px black, 0 0 1em #800080;
}
 

    #table {
      top: 100px;
      left: 100px;
      background-color: #F0E68C;
      width: 500px;
      height: 500px;
      margin: 20px;
      position: relative;
      border-top: 25px solid #A0522D;
      border-right: 25px solid #CD853F;
      border-bottom: 25px solid #CD853F;
      border-left: 25px solid #A0522D;
      font: 50px monospace;
      font-weight: 900;
      box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    }

    td {
        background-color: #FAFAD2;
        border-radius: 15px;
        width: 80px;
        heght: 80px;
        border: 3px solid black;
        padding: 10px;
        text-align: center;
        box-shadow: inset 0 0 10px;
    }

#newGameButton {
   position: absolute;
   border-radius: 40px;
   background-color: #32CD32;
   left: 10px;
   top: 118px;
   width: 110px;
   height: 80px;
   font-weight: 900;
   box-shadow: inset 0 0 30px;
}

#movesNum {
    position: relative;
    top: 100px;
    left: 150px;
    font: 30px monospace;
    font-weight: 900;

}