body {
    background-color: #E6E6FA;
}


#hSpecks {
    position: absolute;
    left: 250px;
    top: 10px;
    margin: 0px;
    font: 80px fantasy;
    color: #de4300;
    text-shadow: 1px 1px 10px black, 0 0 1em #010a7d;
}
 

    #tableSpecks {
      top: 100px;
      left: 100px;
      background-color: #F0E68C;
      width: 500px;
      height: 500px;
      margin: 20px;
      position: relative;
      border-top: 25px solid #A0522D;
      border-right: 25px solid #CD853F;
      border-bottom: 25px solid #CD853F;
      border-left: 25px solid #A0522D;
      font: 50px fantasy;
      font-weight: 900;
      box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    }

    .cellSpecks {
        background-color: #FAFAD2;
        border-radius: 15px;
        width: 80px;
        heght: 80px;
        border: 3px solid black;
        padding: 10px;
        text-align: center;
        box-shadow: inset 0 0 10px;
    }


#newGameButton {
   position: absolute;
   border: 3px solid black;
   border-radius: 40px;
   background-color: #32CD32;
   left: 10px;
   top: 118px;
   width: 110px;
   height: 80px;
   font-weight: 900;
   box-shadow: inset 0 0 30px #000;
}

#movesNum {
    position: relative;
    top: 100px;
    left: 150px;
    font: 40px cursive;
    font-weight: 900;

}

#pName {
    position: absolute;
    top: 0px;
    left: 670px;
    font: 30px cursive;
}

#inputName {
    background-color: #b3b2b1;
    color: white;
    border-radius: 10px;
    font: 25px cursive;
    width: 200px;
}


#tScore {
    position: absolute;
    top: 180px;
    left: 670px;
    font: 30px cursive;
    border-collapse: collapse;
}

#dScore {
    position: absolute;
    top: 110px;
    left: 670px;
    font: 40px cursive;
    font-weight: 900;
}

.numScore {
    width: 40px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
}

.nameScore {
    width: 80px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
}

#win {
    display: none;
    position: fixed;
    top: 200px;
    left: 50px;
    text-align: center;
    font-size: 8.5em;
    color: 	#fff;
    letter-spacing: -7px;
    font-weight: 900;
    text-transform: uppercase;
    animation: blur .9s ease-out infinite;
    text-shadow: 0px 0px 5px #FFf, 0px 0px 7px #FFf;
}
@keyframes blur {
  from {
    text-shadow:0px 0px 10px #FFf,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}